html,body{
    height: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: inter, serif;
}
a{
    text-decoration: none;
    color: black;
}
.conteiner{
    overflow: hidden;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}
/*----*/
footer{
    margin-top: 70px;
    width: 100%;
    height: 100%;
}
.line{
    width: 100%;
    height: 2px;
    background: #000;
}
.foot{
    padding: 0 15px;
    margin: 0 auto;
    height: 59px;
    max-width: 1180px;
    display:flex;
}
.foot span{
    line-height: 59px;
}
.it1{
    width: 229px;
    float: left;
}
.it2{
    align-items: center;
    margin: 0 auto;
    line-height: 59px;
}
.it3{
    width: 229px;
    text-align: end;
    line-height: 59px;
}
.main{
    margin-top: 120px;
    flex: 1 1 auto;
}

/**-----*/

/*header*/
.header_burger{
    display: none;
}


.header_logo{
    font-weight: 600;
    font-size: 24px;
    position: relative;
    z-index: 3;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}
.header_body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.wrapper{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
.header_list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header_list li{
    list-style: none;
    margin-left: 25px;
}
.header_link{
    font-size: 20px;
    font-weight: 400;
}
.bug_foot{
    display: none;
}
/*----*/





.item{
    margin: 0 20px;
    transition: all 0.5s ease 0s;
}
.slick-slide{
    max-height: 700px;
}
.slick-dotted.slick-slider{
    margin-bottom: 50px;
}
.slick-track{
    width: 100%;
    height: auto;
}
.but{
    display: flex;
}
.slick-dots{
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    position: static;
    margin-top: -20px;
}
.slick-dots li{
    list-style: none;
    margin-left: 3px;
    width: 13px;
    height: 13px;
}
.slick-dots li button{
    padding: 0;
    font-size: 0;
    width: 13px;
    height: 13px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
.slick-dots li button::before{
    padding: 0;
    font-size: 0;
    width: 13px;
    height: 13px;
    background-color: black;
    border-radius: 50%;
}
.slick-arrow{
    position:static;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.next{
    margin-left: 190px;
}
.ar{
    margin: 0 auto;
}
.about{
    max-width: 1180px;
    margin: 100px auto 0 auto;
    padding: 0 15px ;
}
.about_it p{
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin: auto;
    padding: 0 7px 0 15px;
}
.about_it{
    display: flex;
}
.about_img{
    max-width: 580px;
}


@media screen and (max-width: 880px){
    .slick-slide{
        max-height: 500px;
    }
    .item{
        margin: 0 10px;
    }
    footer{
        margin-top: 50px;
    }
}
@media screen and (max-width: 1100px){
    .about_img{
        max-width: 500px;
    }
}
@media screen and (max-width: 900px){
    .about_it p{
        font-size: 25px;
    }
    .about_img{
        max-width: 450px;
    }
}
@media screen and (max-width: 810px){
    .about{
        margin-bottom: 50px;
    }
    .about_img{
        max-width: 350px;
    }
}
@media screen and (max-width: 740px){
    .about_it{
        display: block;
    }
    .about_img{
        max-width: 500px;
    }
    .about_it p{
        margin-top: 50px;
        padding: 0 40px;
    }
    .sd{
        max-width: 500px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 560px){
    .about_it p{
        margin-top: 30px;
        padding: 0 10px;
        font-size: 20px;
    }
    .about_img{
        max-width: 350px;
    }
    .sd{
        max-width: 350px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 380px){
    .about_img{
        max-width: 300px;
    }
    .sd{
        max-width: 300px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 330px){
    .about_img{
        max-width: 250px;
    }
    .sd{
        max-width: 250px;
        margin: 0 auto;
    }
}


/*----*/
@media screen and (max-width:910px){
    .header_body{
        height: 70px;
    }
    .header_logo{
        font-size: 20px;
    }
    .header_link{
        font-size: 18px;
    }
    .main{
        margin-top: 70px;
    }
}
@media screen and (max-width: 880px){
    .head p{
        font-size: 20px;
    }
    .nav{
        font-size: 16px;
    }
}
@media screen and (max-width: 810px){
    body.lock{
        overflow: hidden;
    }
    .header_logo{
        margin: 0 auto;
    }
    .slick-dotted.slick-slider{
        margin-bottom: 15px;
    }
    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_burger::before{
        top: 0;
    }
    .header_burger::after{
        bottom: 0;
    }
    .header_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 70px 0 0 0 ;
        transition: all 0.5s ease 0s;
        overflow: auto;
    }
    .header_menu.active{
        top: 0;
    }
    .header_list{
        display: block;
        margin-bottom: 70px;
    }
    .header_list li{
        margin: 0 0 30px 0;
    }
    footer{
        display: none;
    }
    .bug_foot{
        display: block;
    }
    .bug_nav{
        width: 60%;
        margin: 10% auto;
        text-align: center;
    }
    .bug_line{
        height: 1px;
        width: 100%;
        background: #000;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .it2{
        line-height: normal;
    }
}
/*---*/


@media screen and (max-width: 510px){
    .item{
        max-width: 487px;
        max-height: 300px;
    }
}
@media screen and (max-width: 350px){
    .item{
        max-width: 320px;
    }
}
